**/.git
**/.cache
**/.DS_Store
**/node_modules
**/dist
**/build
**/*.log
**/.env*
**/.idea
**/.vscode
**/.cursor
**/.history
**/.pytest_cache
**/__pycache__
**/*.local
**/*~
**/#*#
**/.swp
**/.swo
**/*.tmp
**/*.bak
**/mfa-data.json

